# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [5]:
# Your code here
import pandas as pd
import numpy as np

file1 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
column_names = file1.columns

In [6]:
file1.shape

(4008, 11)

In [7]:
file1.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [8]:
file1.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [12]:
file1.nunique()

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [29]:
#categorical values are determined by the low number of unique values that are objects 

categorical_vars = ["Customer","ST", "GENDER", "Education", "Number of Open Complaints","Policy Type", "Vehicle Class"]
file1[categorical_vars]

,Customer,ST,GENDER,Education,Number of Open Complaints,Policy Type,Vehicle Class
1,QZ44356,Arizona,F,Bachelor,1/0/00,Personal Auto,Four-Door Car
2,AI49188,Nevada,F,Bachelor,1/0/00,Personal Auto,Two-Door Car
3,WW63253,California,M,Bachelor,1/0/00,Corporate Auto,SUV
4,GA49547,Washington,M,High School or Below,1/0/00,Personal Auto,Four-Door Car
5,OC83172,Oregon,F,Bachelor,1/0/00,Personal Auto,Two-Door Car
...,...,...,...,...,...,...,...
1066,TM65736,Oregon,M,Master,1/1/00,Personal Auto,Four-Door Car
1067,VJ51327,Cali,F,High School or Below,1/2/00,Personal Auto,SUV
1068,GS98873,Arizona,F,Bachelor,1/0/00,Personal Auto,Four-Door Car
1069,CW49887,California,F,Master,1/0/00,Special Auto,SUV
1070,MY31220,California,F,College,1/0/00,Personal Auto,Two-Door Car

In [15]:
numerical_vars = ["Customer Lifetime Value","Income","Monthly Premium Auto","Total Claim Amount"]
file1[numerical_vars]

,Customer Lifetime Value,Income,Monthly Premium Auto,Total Claim Amount
0,NaN,0.0,1000.0,2.704934
1,697953.59%,0.0,94.0,1131.464935
2,1288743.17%,48767.0,108.0,566.472247
3,764586.18%,0.0,106.0,529.881344
4,536307.65%,36357.0,68.0,17.269323
...,...,...,...,...
4003,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN

In [16]:
file1["ST"].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

In [28]:
file1["Number of Open Complaints"].unique()

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00'],
      dtype=object)

In [18]:
file1["GENDER"].unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [19]:
file1["Education"].unique()

array(['Master', 'Bachelor', 'High School or Below', 'College',
       'Bachelors', 'Doctor', nan], dtype=object)

In [20]:
file1["Policy Type"].unique()

array(['Personal Auto', 'Corporate Auto', 'Special Auto', nan],
      dtype=object)

In [21]:
file1["Vehicle Class"].unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury SUV', 'Sports Car',
       'Luxury Car', nan], dtype=object)

In [24]:
file1.isna().sum()

Customer                     2937
ST                           2937
GENDER                       3054
Education                    2937
Customer Lifetime Value      2940
Income                       2937
Monthly Premium Auto         2937
Number of Open Complaints    2937
Policy Type                  2937
Vehicle Class                2937
Total Claim Amount           2937
dtype: int64

In [45]:
file1_num=file1._get_numeric_data()
file1_num
# file1._get_bool_data()
# file1.select_dtypes('object')
#Income and Monthly Premium Auto could be integers

       Income  Monthly Premium Auto  Total Claim Amount
1         0.0                  94.0         1131.464935
2     48767.0                 108.0          566.472247
3         0.0                 106.0          529.881344
4     36357.0                  68.0           17.269323
5     62902.0                  69.0          159.383042
...       ...                   ...                 ...
1066  38644.0                  78.0          361.455219
1067  63209.0                 102.0          207.320041
1068  16061.0                  88.0          633.600000
1069  79487.0                 114.0          547.200000
1070  54230.0                 112.0          537.600000

[1068 rows x 3 columns]

In [44]:
file1_num["Income"].max()-file1_num["Income"].min()

99960.0

In [48]:
file1_num["Monthly Premium Auto"].max()-file1_num["Monthly Premium Auto"].min()
#the maximum value is very high, perhaps it's a wrong data entry

35354.0

In [47]:
file1_num["Total Claim Amount"].max()-file1_num["Total Claim Amount"].min()

2892.857571

In [50]:
#T changes columns to rows and the .describe() throughs all the stats for numerical values
file1.describe().T

,count,mean,std,min,25%,50%,75%,max
Income,1068.0,39315.411985,30484.373979,0.000000,14072.00000,36226.0,64668.75,99960.000000
Monthly Premium Auto,1068.0,192.691948,1603.241719,61.000000,68.00000,82.5,109.25,35354.000000
Total Claim Amount,1068.0,405.870113,292.917158,0.382107,204.07146,355.2,532.80,2893.239678

In [51]:
file1_num.value_counts()

Income   Monthly Premium Auto  Total Claim Amount
0.0      61.0                  292.8                 6
         72.0                  345.6                 5
         68.0                  326.4                 5
         73.0                  350.4                 5
17622.0  65.0                  312.0                 4
                                                    ..
26583.0  1005.0                614.4                 1
26787.0  77.0                  369.6                 1
26802.0  66.0                  316.8                 1
26806.0  63.0                  302.4                 1
99960.0  76.0                  364.8                 1
Name: count, Length: 975, dtype: int64

In [54]:
print(file1.mean(numeric_only=True))
print('*********************')
print(file1.median(numeric_only=True))
print('*********************')
print(file1.mode(numeric_only=True))
print('*********************')
#mode for income is 0 which does not seem realistic

Income                  39315.411985
Monthly Premium Auto      192.691948
Total Claim Amount        405.870113
dtype: float64
*********************
Income                  36226.0
Monthly Premium Auto       82.5
Total Claim Amount        355.2
dtype: float64
*********************
   Income  Monthly Premium Auto  Total Claim Amount
0     0.0                  65.0               321.6
*********************

In [32]:
# file1._get_numeric_data()
file1._get_bool_data()
# file1.select_dtypes('object')

Empty DataFrame
Columns: []
Index: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, ...]

[1068 rows x 0 columns]

In [33]:
# file1._get_numeric_data()
# file1._get_bool_data()
file1.select_dtypes('object') #categorical variables
#Customer lifetime value is categorical from a coding pov because it has a % and number of open complaints has a date format
#Customer Lefietime Value should not be an object, it should be a float and to do this we should eliminate the percent signs and divide them by 100 to obtain decimals
#Number of open complaints should also be a float

,Customer,ST,GENDER,Education,Customer Lifetime Value,Number of Open Complaints,Policy Type,Vehicle Class
1,QZ44356,Arizona,F,Bachelor,697953.59%,1/0/00,Personal Auto,Four-Door Car
2,AI49188,Nevada,F,Bachelor,1288743.17%,1/0/00,Personal Auto,Two-Door Car
3,WW63253,California,M,Bachelor,764586.18%,1/0/00,Corporate Auto,SUV
4,GA49547,Washington,M,High School or Below,536307.65%,1/0/00,Personal Auto,Four-Door Car
5,OC83172,Oregon,F,Bachelor,825629.78%,1/0/00,Personal Auto,Two-Door Car
...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,M,Master,305955.03%,1/1/00,Personal Auto,Four-Door Car
1067,VJ51327,Cali,F,High School or Below,2031499.76%,1/2/00,Personal Auto,SUV
1068,GS98873,Arizona,F,Bachelor,323912.47%,1/0/00,Personal Auto,Four-Door Car
1069,CW49887,California,F,Master,462680.11%,1/0/00,Special Auto,SUV
1070,MY31220,California,F,College,899704.02%,1/0/00,Personal Auto,Two-Door Car

In [56]:
file1.describe(include='object')
#descriptive stats for the categorical variables
#top is the mode 
#for variables that have many unique values, the top is the first value in the column

,Customer,ST,GENDER,Education,Customer Lifetime Value,Number of Open Complaints,Policy Type,Vehicle Class
count,1068,1068,952,1068,1068,1068,1068,1068
unique,1068,8,5,6,1027,6,3,6
top,QZ44356,Oregon,F,Bachelor,445811.34%,1/0/00,Personal Auto,Four-Door Car
freq,1,320,456,324,4,827,777,573

In [57]:
file1['ST'].value_counts()

ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     78
WA             30
AZ             25
Name: count, dtype: int64

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [58]:
# Your code here
file1['ST'].value_counts()
#shows that the states with the lowest amount of customers are: AZ, WA, Washington, Nevada and California

ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     78
WA             30
AZ             25
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [59]:
# Your code here
file1['Policy Type'].value_counts()
#Policy type that had the highest sales is Personal Auto

Policy Type
Personal Auto     777
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [69]:
# Your code here
personal_auto = file1.loc[file1['Policy Type'] == 'Personal Auto']
personal_auto
personal_auto['Income'].mean()

38203.48648648649

In [70]:
# Your code here
corporate_auto = file1.loc[file1['Policy Type'] == 'Corporate Auto']
corporate_auto
corporate_auto['Income'].mean()

41390.31196581197

In [ ]:
#the income of the corporate policy is the highest

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here